<div class="page-wrapper">
    <header class="main-header">
        <nav class="main-menu">
            <div class="container">
                <div class="main-menu__logo">
                    <a href="/">
                      <i class="icon-arrow-left"></i>
                    </a>
                    
                </div><!-- /.main-menu__logo -->
                <div class="main-menu__nav">
                 
                </div><!-- /.main-menu__nav -->
                <div class="main-menu__right">
                    <!-- <a href="#" class="main-menu__toggler mobile-nav__toggler">
                        <i class="fa fa-bars"></i>
                    </a> -->
                    <!-- /.mobile menu btn -->
                    <div class="search-popup__contents">
                      <form role="search" method="get" class="search-popup__form" action="#">
                          <input type="text" id="search" placeholder="Search Here..." />
                          <button type="submit" class="eduact-btn"><span class="eduact-btn__curve"></span><i class="icon-Search"></i></button>
                      </form>
                  </div>
                    <!-- /.search btn -->
                    <a href="#" class="main-menu__login">
                        <i class="icon-account-1"></i>
                    </a><!-- /.login btn -->
                    <!-- <a href="contact.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Get In Touch</a>/.contact btn -->
                </div><!-- /.main-menu__right -->
            </div><!-- /.container -->
        </nav>
        <!-- /.main-menu -->
    </header>

     <!-- course-details-start -->
     <section class="course-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="course-details__thumb">
                        <img src="assets/images/course/course-detail-2.jpg" alt="eduact" />
                    </div>
                    <h3 class="course-details__title">The Ultimate Developer Course For Future Learner</h3><!-- details-title -->
                    <div class="course-details__tabs tabs-box">
                   
                        <div class="tabs-content">
                            
                            <div class="tab active-tab fadeInUp animated">
                                <div class="course-details__curriculum">
                                    <h4 class="course-details__curriculum__title"></h4>
                                    <p class="course-details__curriculum__text">
                                        Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh. Nam nec eros id magna hendrerit sagittis.
                                        Nullam sed mi non odio feugiat volutpat sit amet nec elit. Maecenas id hendrerit ipsum. Sed eget auctor metus,
                                        ac dapibus dolor. Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh.
                                    </p>
                               
                                </div>
                            </div><!-- tab-content-curriculum -->
                          
                            
                        </div><!-- tab-content -->
                    </div><!-- tabs -->
                   
                    <div class="course-details__tabs tabs-box">
                        <ul class="course-details__tabs__lists tab-buttons list-unstyled">
                            <li data-tab="#1" class="tab-btn  active-btn"><span>Module 1</span></li>
                            <li data-tab="#2" class="tab-btn"><span>Module 2</span></li>
                            <li data-tab="#3" class="tab-btn"><span>Module 3</span></li>
                            <li data-tab="#4" class="tab-btn"><span>Module 4</span></li>
                        </ul><!-- tab-title -->
                        <div class="tabs-content">
                            <div class="tab active-tab tab fadeInUp animated" id="1">
                                <div class="course-details__curriculum">
                                    <h4 class="course-details__curriculum__title">Starting Beginners Level Course</h4>
                                    <p class="course-details__curriculum__text">
                                        Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh. Nam nec eros id magna hendrerit sagittis.
                                        Nullam sed mi non odio feugiat volutpat sit amet nec elit. Maecenas id hendrerit ipsum. Sed eget auctor metus,
                                        ac dapibus dolor. Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh.
                                    </p>
                                    <div class="video-container">
                                        <!-- <iframe src="https://www.youtube.com/embed/xrW52jF_uKA" title="MOKKA | Part 1 of 2| Karikku | Comedy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                                        <iframe height="375" width="600" src="https://1drv.ms/p/s!AtCpLfA0ObPXlbwrLEnn2o7Ez-mQtg" allowfullscreen></iframe>
                                    </div>
                                 
                                  
                                </div>
                            </div><!-- tab-content-overview -->
                            <div class=" tab fadeInUp animated" id="2">
                                <div class="course-details__curriculum">
                                    <h4 class="course-details__curriculum__title">Starting Beginners Level Course</h4>
                                    <p class="course-details__curriculum__text">
                                        Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh. Nam nec eros id magna hendrerit sagittis.
                                        Nullam sed mi non odio feugiat volutpat sit amet nec elit. Maecenas id hendrerit ipsum. Sed eget auctor metus,
                                        ac dapibus dolor. Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh.
                                    </p>
                                    <div class="video-container">
                                        <iframe src="https://www.youtube.com/embed/f1orNJWLVqE" title="MOKKA | Part 1 of 2| Karikku | Comedy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        <!-- <iframe height="375" width="600" src="https://1drv.ms/p/s!AtCpLfA0ObPXlbwrLEnn2o7Ez-mQtg" allowfullscreen></iframe> -->
                                    </div>
                             
                                  
                                </div>
                            </div>
                            <div class=" tab fadeInUp animated" id="3">
                                <div class="course-details__curriculum">
                                    <h4 class="course-details__curriculum__title">Starting Beginners Level Course</h4>
                                    <p class="course-details__curriculum__text">
                                        Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh. Nam nec eros id magna hendrerit sagittis.
                                        Nullam sed mi non odio feugiat volutpat sit amet nec elit. Maecenas id hendrerit ipsum. Sed eget auctor metus,
                                        ac dapibus dolor. Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh.
                                    </p>
                                    <div class="video-container">
                                        <!-- <iframe src="https://www.youtube.com/embed/1sGfiso14Z0" title="Tattadash! | Karikku | Comedy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
                                         -->   <iframe height="375" width="600" src="https://1drv.ms/p/s!AtCpLfA0ObPXlbwrLEnn2o7Ez-mQtg" allowfullscreen></iframe>
                                    </div>
                                 
                                   
                                </div>
                            </div>
                            <div class=" tab fadeInUp animated" id="4">
                                <div class="course-details__curriculum">
                                    <h4 class="course-details__curriculum__title">Starting Beginners Level Course</h4>
                                    <p class="course-details__curriculum__text">
                                        Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh. Nam nec eros id magna hendrerit sagittis.
                                        Nullam sed mi non odio feugiat volutpat sit amet nec elit. Maecenas id hendrerit ipsum. Sed eget auctor metus,
                                        ac dapibus dolor. Nam vel lacus eu nisl bibendum accumsan vitae vitae nibh.
                                    </p>
                                    <div class="video-container">
                                        <iframe height="375" width="600" src="https://1drv.ms/p/s!AtCpLfA0ObPXlbwrLEnn2o7Ez-mQtg" allowfullscreen></iframe>

                                    </div>
                                 
                                  
                                </div>
                            </div>
                        
                        </div><!-- tab-content -->
                    </div><!-- tabs -->
                </div>
                <div class="col-xl-4 wow fadeInRight" data-wow-delay="300ms">
                    <div class="course-details__sidebar">
                        <div class="course-details__sidebar__item">
                            <h3 class="course-details__sidebar__title">Course Features</h3>
                            <ul class="course-details__sidebar__lists clerfix">
                                <li><i class="icon-history"></i>Duration:<span>20 Hours</span></li>
                                <li><i class="icon-book"></i>Modules:<span>15</span></li>
                                <li><i class="icon-play-border"></i>Videos<span>10 Hours</span></li>
                                <li><i class="icon-logical-thinking"></i>Skill Level<span>Beginner</span></li>
                                <li><i class="icon-Digital-marketing"></i>Tutor:<span>Ms.Malini Varma</span></li>
                            </ul>
                            <a href="#" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Join Live Section<i class="icon-arrow"></i></a>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- course-details-end -->
    </div>

    <style>
        .video-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
            overflow: hidden;
        }
        
        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    
        @media only screen and (max-width: 768px) {
            .video-container {
                padding-bottom: 75%; /* Adjust aspect ratio for mobile devices */
            }
        }
    </style>